h1 {
	font-family: Inconsolata, monospace;
	font-weight: bold;
}

h2 {
	font-family: Inika, serif;
	font-weight: normal;
}

body {
	display: flex;
}

main {
	background-color: lightgrey;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_main {
	text-align: center;
	background-color: darkgrey;
	padding: 2rem;
}
